* {
  margin: 0;
  padding: 0;
  font-family: Consolas, Arial, Helvetica, sans-serif;
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
background: -webkit-linear-gradient(60deg, #fff810  30%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -o-linear-gradient(50deg, #fff810  30%, rgba(0,0,0,0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -moz-linear-gradient(40deg, #fff810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: linear-gradient(30deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
    background: -o-linear-gradient(20deg, #fff810  30%, rgba(0,0,0,0) 30%), -moz-linear-gradient(20deg, #63e89e 60%, #ff7ee3 60%);


  
}

.inputBox {
  position: relative;
  width: 460px;
}

.inputBox h2 {
  font-size: 30px;
  color: black;
}
span {
  color: #FFFFFF;
  text-shadow: 1.5px 1.5px rgb(51, 51, 51);-->style="font-family: algerian;font-size: 30px; color: #FFFFFF
; text-shadow: 1px 1px 5px black,0 0 25px lightblue,0 0 30px blue;"
}

::placeholder {
  color: #451412;
}

.inputBox input {
  position: relative;
  width: 100%;
  height: 60px;
  border: none;
  margin: 15px 0 10px;
  background: transparent;
  outline: none;
  padding: 0px 20px;
  font-size: 25px;
  letter-spacing: 4px;
  box-sizing: border-box;
  border-radius: 8px;
  color: #141850;
  box-shadow: -4px -4px 10px #0123451, inset 4px 4px 10px rgb(0, 0, 0, 0.07);
}
.inputBox input ::placeholder {
  letter-spacing: 0;
}

button {
  position: relative;
  cursor: pointer;
  color: #cdcdff;
  background-color: #303179;
  font-size: 24px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
}

.inputBox #btn:active {
  background-color: #141850;
  transform: scale(0.98);
}